/* font download형식

ttf -window 트루타입 *
otf -오픈트루타입


woff - 모던브라우저에서 지원할수있는 폰트형식
woff2 - wpff의 20%압축판
eot - 익스플로러 지원 */


@font-face {
    font-family: 'Nanum Gothic';
    src: url('../fonts/NanumGothic-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/NanumGothic-Regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/NanumGothic-Regular.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/NanumGothic-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 400
}


@font-face {
    font-family: 'Nanum Gothic';
    src: url('../fonts/NanumGothic-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/NanumGothic-Bold.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/NanumGothic-Bold.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/NanumGothic-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700
}


.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
header .top_area .logo{}