@import 'reset.css';
@import 'common.css';


body{
    font-family: 'Nanum Gothic';
    color: #222;
    line-height: 1.35;
}
/* r(root)em -> body */

.inner{
    position: relative;
    width: 1152px;
    margin: 0 auto;
    min-width: 1152px;
}

header{}
header .top_area{}
header .top_area h1.logo{
    float: left;
    width: 97.5px;
    height: 18.5px;
    padding: 0;
    margin-top: 8px;
}
header .top_area .logo a{
    display: block;
    width: 105px;
    height: 27px;
    background: url(../images/imgg.png) no-repeat -5px -165px;
}



header .top_area .gnb{
    float: left;
    width: calc(100% - 101px);
}
header .top_area .gnb ul{float: left;}
header .top_area .gnb ul>li{
    float: left;
    margin-left: 20px;}




header .top_area .gnb ul>li:first-child{
    padding-left: 40px;
    margin-left: 30px;
    position: relative;
}
header .top_area .gnb ul>li>a{
    font-family: 'Nanum Gothic', sans-serif;
    height: 48px;
    line-height: 48px;
    font-weight: 700;
}

header .top_area .gnb ul>li>a:hover{
    color: #2292e9;
}





header .top_area .login{
    position: absolute;
    right: 0;
    top: 0;
}

header .top_area ul.login > li{
    float: left;
    padding: 0 10px;
    margin: 0;
}
header .top_area ul.login li > a{
    display: block;
    font-size: 14px;
}



header .search_area{
    display: block;
   position: relative; 
    background: #fff;
    height: 120px;
    padding: 0;
}
header .search_area > .inner > h1{
    background: url(../images/seoulu.png) no-repeat 0 0;
    margin: 38px 0 30px;
    float: left;
    width: 178px;
    height: 51px;
}
header .search_area > .inner > h1 a{
    display: inline-block;
    width: 178px;
    height: 51px;
}


header .search_area .search{
    width: 460px;
    /* height: 42px; */
    border: 3px solid #2292e9;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -245px;
    margin-top: 0;
    box-sizing: border-box;
}
header .search_area .search .keyboard{    
    margin-left: 3px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 42px;
}

.search_area .search input[type='text'] {
    float: left;
    width: calc(100% - 42px);
    border: 0;
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
}

.search_area .btn_search{
        position: absolute;
        display: inline-block;
        width: 36px;
        height: 36px;
        padding: 0;
        background: url(../images//imgg.png) no-repeat -32px -97px;
        float: right;
        right: 1px;
    
}


header .search_area .lang_site{
    position: absolute;
    top: 0;
    right: 0;
}

header .search_area .lang_site select{
    float: left;
    width: 80px;
    height: 21px;
    border-color: #afcfea;
    color: #1E6CB3;
    font-size: 12px;
    padding: 0 0 0 2px;
    box-sizing: border-box;
    line-height: 21px;
}

select {
    appearance: none;
    border-radius: 0;
    background: url(../images/select.png) no-repeat no-repeat 96% center;
    background-size: 8px auto;
}



header .search_area .lang_site input[type='button']{
    float: left;
    width: 30px;
    font-size: 11px;
    color: #fff;
    background-color: #1E6CB3;
    border: 0;
    height: 21px;
    margin-left: -1px;
    display: inline-block;
    padding: 0;
}
header .search_area .lang_site:after {
    content: '';
    display: block;
    clear: both;
}



header .search_area .info_weather{
    width: 260px;
    height: 85px;
    float: right;
    margin-top: 34px;
    vertical-align: top;
    text-align: right;
}

header .search_area .info_weather .deg{
    font-weight: bold;
    font-size: 25px;
    margin-right: 5px;
}
header .search_area .info_weather .w_txt1{
    font-size: 16px;
    letter-spacing: -0.1em;
}

header .search_area .info_weather .w_txt2{
    font-size: 13px;
    letter-spacing: -1px;
}






header .info_weather .ico_area{
    /* display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    float: left;
    margin-left: 3px; */
    /* background: #f00; */
    float: left;
}

header .info_weather .txt_area{
    /* max-width: 242px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    float: left; */
    /* background: #00f; */
    overflow: hidden;
/* 중요!!!  float 쓴 상태에서 뒤에 있는 애한테 o/h쓰면 해제된다 */
}

/* 중요!!!
 flex-glow:1 
 */


.info_weather .txt_area p {
    text-align: left;
}

.info_weather:after {
    content: '';
    display: block;
    clear: both;
}
header .serch_area .ico area img{}

header .serch_area .txt_area{
    
}
header .serch_area .txt_area p{}
header .serch_area .txt_area a{}
header .serch_area .txt_area .deg{}
header .serch_area .txt_area .w_txt1{}
header .serch_area .txt_area .w_txt2{}






/* ------------ footer -------------------- */

footer{
    border-top: 0;
}
footer .inner{}
footer .footer_link{
    position: relative;
    height: auto;
    padding: 0;
}
footer .footer_link ul{
    padding: 15px 0;
}

footer .footer_link ul li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 1px;
    height: 14px;
    margin-top: -6px;
    background: #dcdcdc;
}
footer .footer_link ul li:first-child::before{
   display: none;
}


footer .footer_link ul li{
    position: relative;
    float: left;
    padding: 0 10px;
}

footer .footer_link a.home{
    padding-left: 0;
}
footer .footer_link ul li a{
    font-size: 12px;
    color: #636363;}

footer .footer_link ul li .po{
    color: #000;
    font-weight: 700;
}

footer .footer_link ul:after {
    display: block;
    content: '';
    clear: both;
}
footer .footer_link .sns{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -14px;
    overflow: hidden;
    font-size: 0;
    text-align: center;
}





footer .footer_link .sns{
    position: absolute;
   

}

footer .footer_link .sns_new a{
    background: url(../images//icon_set.png) no-repeat 0 0;
    float: left;
    width: 24px;
    height: 24px;
    margin-left: 12px;
}
footer .footer_link .sns_new a.fb{
    background-position: -25px 0;
}
footer .footer_link .sns_new .tw{background-position: -50px -25px;}
footer .footer_link .sns_new .ins{background-position: -75px 0;}
footer .footer_link .sns_new .ks{background-position: -100px -25px;}
footer .footer_link .sns_new .yt{background-position: -125px 0;}
footer .footer_link .sns_new .bl{background-position: -150px 0;}



footer .row{}
footer .row .inner{
    padding: 22px 0;
    border-top: 1px solid #ccc;
}
footer .row .foo_logo{
    margin-right: 40px;
    float: left;
    width: 108px;
    height: 45px;
    background: url(../images//imgg.png) no-repeat -180px 0;
}
footer .row .adress{
    display: inline-block;
    vertical-align: top;
}

footer .row .inner .adress {
    display: inline-block;
    vertical-align: top;
}
footer .row .inner .adress p{
    padding-bottom: 2px;
    margin-bottom: 0;
    font-size: 12px;
    color: #636363;
}

footer .row .adress .city{
    color: #636363;
    font-size: 12px;
    font-weight: 500;
}

footer .row .inner .adress p:after {
    display: block;
    content: '';
    clear: both;
}
footer .row .inner .address .map {
    font-size: 11px;
    font-weight: 400;
}

footer .chatbot {
    font-size: 11px !important;
    display: inline-block;
    margin-left: 4px;
    padding: 3px 5px 2px 22px;
    background: #fff url(../images//bot.png) no-repeat 4px 1px;
    border: 1px solid #c8c8c8;
    border-radius: 12px;
    color: #1e6cb3;
    background-size: 16px auto;
    font-weight: 600;
}
footer .row .aderess .call{}
footer .row .aderess .copy{
    display: block;
    font-size: 11px;
}

footer .row .mark{
    position: absolute;
    top: 20px;
    right: 0;
    padding: 0;
    background: none;
}
footer .row .mark a{}
footer .row .mark img{}



.inner:after {
    content: '';
    display: block;
    clear: both;
}
footer .quick .top_btn{
    position: fixed;
    bottom: 98px;
    left: 50%;
    display: block;
    width: 34px;
    height: 34px;
    margin-left: 600px;
    opacity: 1;
    transition: 1s;
    z-index: 1000000;
}